body{
    margin:0;
    font-size: 16px;
    font-family: 'Cinzel', serif;
  }
  
  div{
    position:relative;
    box-sizing:border-box;
    padding: 20px;
  }
  .container{
    width:100%;
    min-height: 100vh;
    padding:0;
  }
  
  .container:after{
    content: '';
    clear: both;
    display: table;
  }
  
  .container>div{
    float: left;
    height: auto;
  }

  .character-list{
    width: 100%;
    background: url("/assets/site/mapblue.jpg");
    overflow: auto
  }
  
  .one-character{
    width: 100%;
    background:  rgba(0, 0, 0, 0.425);
  }
  
  .searchbar{
    position: relative;
  }
  
  #search-text,
  #search-button {
    line-height: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fae01f;
  }
  
  #search-text {
   width:150px;
  }
  
  #search-button{
    background: #c9c8c4;
  }
  
  #search-button:hover{
    cursor: pointer;
  }

  @media(min-width:1200px){
    .character-list{
      width: 75%;
    }
  
    .one-character{
      width: 25%;
      background: rgb(61, 61, 61);
    }
  
    .container>div{
      height: 100vh;
    }
    
    .searchbar{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .one-character img {
      height: 200px;
      width: 100%;
    }

    .one-character .got {
    font-size: 30px;
    color:white;
    }

.character-item {
    float: left;
    width: 90px;
    height: 200px;
    margin: 1em;
  }

  .after-.character-item {
    clear: left;
  }

.character-item span {
  position: absolute;
  top: 125px;
  left:30px;
  color: black;
}

.list-div {
  color: white;
  font-size: 20 px;
}

.searchbar i {
  color: aliceblue;
  
}

.character-item span:hover{
  cursor: pointer;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 1px 5px;
  text-align: center;
  font-size: 16px;
  margin: 2px 1px;
  transition: 0.6s;
}

h3 {
    font-weight: lighter;
}

img.got {
    width: 100%;
    height: auto;
}

div.character-item:hover {
    cursor: pointer;
}

}



